.sidebar {
    background-color: blueviolet;
    padding: 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 16px; 
     
}